:root {
    --nav-height: 72px;
    --footer-height: 50px;
}

* { 
    box-sizing: border-box; 
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    background-color: #ffffff;
    color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
}

nav {
    background-color: #ffeff5;
    padding: 10px 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: var(--nav-height);
    z-index: 100;
}

.nav-left { 
    display: flex; 
    align-items: center; 
    gap: 12px; 
}

.logo { 
    width: 42px; 
    height: auto; 
}

.website-name {
    font-size: 22px;
    font-weight: 700;
    color: #000;
    letter-spacing: 0.3px;
}

.menu {
    list-style: none;
    padding: 0;      
    margin: 0;
    display: flex;
    gap: 10px; 
}

.menu li { 
    list-style: none; 
}

.menu a {
    text-decoration: none;
    color: #fe84af;
    font-weight: 500;
    font-size: 15px;
    padding: 6px 10px;
}

.menu a:hover, .menu a.active {
    color: #ff3176;
    font-weight: 700;
}

.sixteen {
    margin-top: var(--nav-height);
    padding: 20px;
}

.sixteen-pic {
    align-items: center;
    justify-content: center;
    display: flex;
}

.sixteen-desc {
    background-color: rgb(250, 228, 231);
    width: 700px;
    height: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#000;
    font-size: 0.9em;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
}


footer {
    height: var(--footer-height);
    padding: 10px 28px;
    background-color: #d9d9d9;
    color: #ac8694;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
