:root {
    --nav-height: 72px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to bottom right, #ff8ab3, #d9a6c9);
}

nav {
    background-color: #ffeff5;
    padding: 10px 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: var(--nav-height);
    z-index: 100;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
}

.menu li {
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: #fe84af;
    font-weight: 500;
    font-size: 15px;
    padding: 6px 10px;
}

.menu a:hover,
.menu a.active {
    color: #ff3176;
    font-weight: 700;
}

.logo {
    width: 42px;
}

.website-name {
    font-size: 22px;
    font-weight: 700;
}

.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-card {
    background: #f3d7e2;
    padding: 30px;
    border-radius: 25px;
    width: 320px;
    box-shadow: 0 0 0 10px #f8e4ec;
    text-align: center;
}

.login-card h2 {
    margin-bottom: 20px;
}

.login-card label {
    display: block;
    text-align: left;
    margin-top: 10px;
    font-weight: 600;
}

.login-card input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: none;
    border-radius: 12px;
}

.login-card button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #ff8ab3;
    font-weight: 600;
    cursor: pointer;
}

.switch-text {
    margin-top: 15px;
    font-size: 14px;
}

.switch-text a {
    color: #ff3176;
    font-weight: 600;
    text-decoration: none;
}